// colors
$accentColor = #0747a6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #0747a6
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

img{
  box-shadow: 0 0 0 1px rgba(0,0,0,.07),0 4px 6px -4px rgba(0,0,0,.15);
  border-radius: .5em;
}
.custom-block {
  border-radius: .5em;
  &.tip {
    border-color $badgeTipColor;
  }
}
